.table {
  border: 1px solid;
  border-spacing: 0;
  border-collapse: collapse;
}

.tableBody {
  border-bottom: 1px solid;
}

.headerRow {
  border-bottom: 1px solid;
}

.header {
  border-left: 1px solid;
  padding: 0.25rem 0.5rem;
}

.header+.headerPlaceholder {
  border-left: 1px solid;
}

.bodyRow > td {
  border: 1px dashed rgb(92, 92, 92);
}